/node_modules
/public/hot
/public/storage
/public/vendor
/public/css
/public/js
/public/img
/public/mix-manifest.json
/storage/*.key
/vendor
.idea/
.vscode/
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
